# Ignore Mac system files
.DS_Store

# Ignore all files in specific directories
__pycache__/
logs/

notebooks/
plots/
scripts/


# To ignore all Jupyter notebook checkpoints in any subdirectory
**/.ipynb_checkpoints/

# To ignore all __pycache__ directories in any subdirectory
**/__pycache__/

# To ignore all .pyc files in any subdirectory
**/*.pyc


